body {
    background: white;
    margin: 0;
    background-image: url(https://img.freepik.com/free-photo/heartbeat-instrument-background-exam-health-emergency_1291-172.jpg?w=1380&t=st=1678242053~exp=1678242653~hmac=986231eadfac8e5a4139ad5a4e0ce502f5076eb4310224fd1a3427f01678d81f);
    background-size: 100%;
    opacity: 1;
}

header {
    text-align: center;
    color: blue;
    font-size: 50px;
}

h3 {
    color: rgb(75, 13, 75);
    text-align: left;
    font-size: 38px;
}

p {
    height: 30vh;
    width: 15vw;
    font-size: 17.9px;
    text-align: center;
    color: indigo;

}

button {
    color: blue;
    font-size: 20px;
    width: 10vw;
    height: 5vh;
}


.tiles {
    margin-top: 10vw;
    margin-left: 32vw;
    width: 150vw;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px;
}

.together {
    display: flex;
}

.tile {
    height: 100px;
    background: #111111;
    border: 5px solid #444444;
    cursor: pointer;
}